body { background: ivory; color: black; margin-left: 20em; margin-right:20em; }
h1 { background: orange; color: white; font-size: 2.5.0em; border-radius: 8px; padding-left: 10px; }
h2 { font-size: 2em; color: red; }
p { line-height: 1.6; font-size: 1.3em; }
em { font-style: normal; font-weight: bold; color: red; }
a:link { color: darkblue; }
a:visited { color: purple; }
a:hover { color: darkorange; }
p.welcome { text-align: center; }
p.welcome img { box-shadow: 4px 4px 4px; }

