gakuryo/k2_xsoukai/soukai8rep/soukai.wmv filter=lfs diff=lfs merge=lfs -text
gakuryo/j_tanoryou/niryou/2ryouVideo2old.mp4 filter=lfs diff=lfs merge=lfs -text
gakuryo/k2_xsoukai/soukai7rep/furuichi.AVI filter=lfs diff=lfs merge=lfs -text
gakuryo/k2_xsoukai/soukai8rep/miharukasu.mp4 filter=lfs diff=lfs merge=lfs -text
gakuryo/k2_xsoukai/soukai8rep/ohenka.mp4 filter=lfs diff=lfs merge=lfs -text
gakuryo/k2_xsoukai/soukai8rep/ryouka.mp4 filter=lfs diff=lfs merge=lfs -text
gakuryo/k2_xsoukai/soukai8rep/soukai.mp4 filter=lfs diff=lfs merge=lfs -text
gakuryo/k2_xsoukai/soukai8rep/kohka.mp4 filter=lfs diff=lfs merge=lfs -text
gakuryo/k3_xryou/ryou25/ryouka.mp4 filter=lfs diff=lfs merge=lfs -text
