body { background: beige; color: darkred; margin-left: 20em; margin-right: 20em; }
h1 { background: beige; color: red; font-size: 2.0em; border-radius: 8px; padding-left: 10px; }
h2 { font-size: 1.2em; }
p { line-height: 1.5em; font-size: 1.5em }
em { font-style: normal; font-weight: bold; color: red; }
a:link { color: darkblue; }
a:visited { color: purple; }
a:hover { color: darkorange; }
p.welcome { text-align: center; }
p.welcome img { box-shadow: 4px 4px 4px; }

table, td, th { border: 2px solid darkorange; }
td, th { padding: 4px; }
th { background: gold; }
td { background: lemonchiffon; }
