body { background: ivory; color: black; margin-left: 15em; margin-right:15em; }
h1 { background: orange; color: white; font-size: 3.0em; border-radius: 8px; padding-left: 10px; }
h2 { font-size: 1.8em; color: blue; }
p { line-height: 1.5; font-size: 1.6em; }
em { font-style: normal; font-weight: bold; color: red; }
a:link { color: darkblue; }
a:visited { color: purple; }
a:hover { color: darkorange; }
p.welcome { text-align: center; }
p.welcome img { box-shadow: 4px 4px 4px; }

