body { background: beige; color: black; margin-left: 13em; margin-right: 13em; }
h1 { background: orange; color: white; font-size: 1.8em; border-radius: 8px; padding-left: 10px; }
h2 { font-size: 1.5em; color:blue; }
p { line-height: 1.5em; font-size: 1.5em; color;darkmagenta; }
em { font-style: normal; font-weight: bold; color: red; }
a:link { color: darkblue; }
a:visited { color: purple; }
a:hover { color: darkorange; }
p.welcome { text-align: center; }
p.welcome img { box-shadow: 4px 4px 4px; }

